footer {
  background-color: rgb(248, 248, 248);
}
.footer-up {
  margin: auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}
.ctry-lang-container {
  display: flex;
  gap: 2.5rem;
}
.ctry {
  font-size: 1.2rem;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 6px;
  height: 40px;
  width: 110px;
  padding-top: 4px;
}
.lang {
  font-size: 1.2rem;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 6px;
  height: 40px;
  width: 110px;
  padding-top: 4px;
}
.footer-mid {
  margin: 3rem auto;
  display: flex;
  max-width: 1100px;
  flex-wrap: wrap;
  gap: 3.5rem;
}
.last-main-content {
  max-width: 1100px;
  width: 15%;
  height: 100px;
}
.line-only {
  border: 1px solid black;
  width: 1100px;
}
.footer-down {
  margin: 2rem auto;
  max-width: 1100px;
}
.footer-down p {
  font-size: 0.8rem;
}
@media (max-width: 1100px) {
  .book-logo {
    position: relative;
    left: 1rem;
  }
  .ctry-lang-container {
    position: relative;
    right: 10rem;
  }
  .footer-mid {
    max-width: 800px;
    gap: 3rem;
  }
  .last-main-content {
    width: 15%;
  }
  .footer-down {
    max-width: 800px;
  }
  
}
@media (max-width: 991px) {
  .ctry-lang-container {
    position: relative;
    right: 18rem;
  }
  .footer-mid {
    max-width: 800px;
    gap: 1.5rem;
  }
  .line-only {
    margin-top: 1.5rem;
  }
  .last-main-content {
    width: 15%;
  }
  .footer-down {
    max-width: 600px;
    margin-left: 12rem;
  }
}
@media (max-width: 850px) {
  .ctry-lang-container {
    position: relative;
    right: 6rem;
  }
  .footer-mid {
    max-width: 600px;
    gap: 1.5rem;
    margin-left: 6rem;
  }
  .line-only {
    margin-top: 4rem;
    margin-left: -4.8rem;
  }
  .last-main-content {
    width: 15%;
  }
  .footer-down {
    margin-left: 4rem;
  }
}
@media (max-width: 740px) {
  .ctry-lang-container {
    position: relative;
    right: 10rem;
  }
  .footer-down {
    max-width: 400px;
    margin-left: 10rem;
  }
}
@media (max-width: 650px) {
  .footer-mid {
    max-width: 600px;
    gap: 1.5rem;
    margin-left: 1rem;
  }
  .line-only {
    margin-top: 4rem;
    margin-left: 1rem;
  }
  .last-main-content {
    width: 15%;
  }
}
@media (max-width: 600px) {
  .ctry-lang-container {
    position: relative;
    right: 20rem;
  }
  .footer-down {
    max-width: 400px;
    margin-left: 5rem;
  }
}
@media (max-width: 580px) {
  .footer-mid {
    max-width: 500px;
    gap: 1rem;
    margin-left: 2rem;
  }
  .line-only {
    margin-top: 4rem;
    margin-left: -1rem;
  }
  .last-main-content {
    width: 15%;
  }
  .footer-down {
    max-width: 400px;
    margin-left: 3rem;
  }
}
