:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --bg-color: #e1e1e1;
  --theme-color: rgb(92, 100, 219);
}

body {
  overflow-x: hidden;
}

* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
  box-sizing: border-box;
}

.root {
  width: 100vw;
  background-color: var(--bg-color);
  display: grid;
  align-content: center;
  text-align: center;
}

.container1 {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 550px;
  overflow: hidden;
  background-repeat: no-repeat;
}

#video1 {
  width: 100%;
}

.container1_1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  /* font-size: 16px;  */
  /* height: 100px; */
  color: white;
  max-width: 1100px;
  margin: 0px auto;
  /* padding: 17px 0px; */
  display: flex;
  justify-content: space-between;
  /* align-items: center;   */
  margin-bottom: 1.5rem;
  /* background: red; */
  position: absolute;
}

/* .nav {
 
  display: flex;
  gap: 1.8rem;
} */
.app {
  position: relative;
  left: 20px;
}
.nav {
  display: flex;
  gap: 20px;
}

.nav2 {
  display: none;
}

.nav > ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.nav ul li {
  display: inline-block;
  margin: 0 15px;
}

.nav > ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  position: relative;
  font-size: 1.2rem;
}

.nav > ul li a::before {
  background: var(--theme-color) none repeat scroll 0 0;
  bottom: 1px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 0%;
  transition: 0.5s;
}

.nav > ul li a:hover::before {
  width: 100%;
}

.nav2 {
  margin-top: 40px;
  visibility: hidden;
  position: absolute;
  right: 0;
}

.navlink {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* 
#name, #SignOut ,#profile
{
  display: none;
}

#LogIn,#SignUp
{
  display: inline;

} */

.navlink:hover {
  color: rgb(92, 100, 219);
}

.discover {
  color: rgb(92, 100, 219);
}

.logoimg {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

.logo1 {
  color: white;
  width: 250px;
  object-fit: contain;
}

.discover {
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* position: absolute;
  left: 25%; */
}

.discover .main {
  /* margin-top: 2rem; */
  font-size: 2rem;

  font-weight: bold;
  line-height: 10px;
  color: rgb(92, 100, 219);
  line-height: 1em;
}

.discover .supporting {
  /* margin-top: 10px; */
  color: rgb(92, 100, 219);
  font-size: 25px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 auto; */
  margin: 2rem auto;
  background-color: white;
  color: black;
  /* position: absolute;
  top: 100%;
  left: 50%; */
  border-radius: 10px;
}

.left {
  align-items: center;
  width: 240px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  /* position: relative;
  display: inline-block; */
}

.left #categories {
  /* text-align: center; */
  border: none;
  outline: none;
  width: 240px;
  max-width: 240px;
  max-height: 40px;
}

.left #categories:focus {
  outline: none;
  border: none;
  width: 480;
}

.form.text {
  font-size: 14px;
  color: black;
}

.center {
  width: 0px;
  height: 20px;
  border: 0.05px solid #4f4f4f;
  /* position: relative;
  display: inline-block; */
}

.forminput {
  color: #4f4f4f;
  padding: 10px;
  margin: 0px auto;
  width: 480px;
  height: 52px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  /* position: relative;
  display: inline-block;
  top: 0;
  right: 10px; */
}

.forminput:focus {
  /* border-color: #ced4da; */
  box-shadow: none;
  outline: 0;
}

.mainbody {
  /* margin-top: 40px; */
  width: 1100px;
  /* height: 1200px; */
  /* background-color: red; */
  padding: 10px;
  margin: 40px auto;
}

.authorsort {
  /* margin: 20px; */
  display: flex;

  gap: 15rem;
  margin-bottom: 2rem;
  /* justify-content: sp; */
}

.aboutauthor {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-width: 600px;
}
.aboutauthor h6 {
  font-size: 1.2rem;
}
.aboutauthor p {
  /* text-align: center; */
  font-size: 1rem;
}

.authorimg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(images/chetanbhagat.cms);
  background-size: cover;
  background-repeat: no-repeat;
}

.container2 {
  margin: 0px auto;
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  /* flex-wrap: nowrap; */
  /* background: #000; */
  /* grid-template-columns: max;*/
  grid-gap: 15px;
  max-width: 1100px;
  overflow: hidden;
  /* height: 300px; */
  margin-bottom: 2rem;
  /* gap: 1.8%; */
  /* align-content: normal; */
}
/* .book-box {
  object-fit: cover;
  height: 300px;
  width: 165px;
} */
.book1 img {
  width: 100%;
  height: 250px;
  border-radius: 5px 5px 0px 0px;
  /* object-fit: cover; */
}

.container2 .book1 {
  width: 15.32%;
  transition: transform 0.2s;
  /* Animation */
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.book1:hover {
  transform: scale(1.04);
}
.container2 .book1img {
  width: 100%;
}

.book1 h5 {
  padding: 1rem;
}

.book1 .bottom p {
  font-size: 16px;
  color: #4f4f4f;
}

.collections h2 {
  padding: 0 30px;
  margin: 0px 0px 10px 10px;
  font-weight: bolder;
  font-size: 2.5rem;
  color: black;
}
.popular-text .heading2 {
  padding: 0 30px;
  margin: 0px 0px 40px 10px;
  font-weight: bolder;
  font-size: 2.5rem;
  color: black;
}

.text {
  padding: 0 30px;
  font-size: 1.3rem;
  color: #363636;
  /* display: flex; */
  text-align: center;
  /* justify-content: space-between; */
  margin-bottom: 1rem;
}

.text .rightpara {
  font-size: 16px;
  color: red;
}

.bi-book-half {
  font-size: 18px;
  margin-left: 5px;
  color: rgb(252, 252, 252);
}

.bi-person-circle {
  color: white;
  font-size: 20px;
}

.text .rightpara a {
  text-decoration: none;
  color: red;
}

.container3 {
  /* margin: 25px auto; */
  display: flex;
  /* width: 1100px; */
  height: 300px;
  justify-content: space-around;
}

.bg2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.05) 50%,
      rgba(0, 0, 0, 0.05) 85%
    ),
    url("images/10.jpg");
  /* transition: transform 0.2s; */
}

.bg3 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.05) 50%,
      rgba(0, 0, 0, 0.05) 85%
    ),
    url("images/11.webp");
}

.bg4 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.05) 50%,
      rgba(0, 0, 0, 0.05) 85%
    ),
    url("images/12.jpg");
}

.place1 {
  width: 32%;
  height: 250px;
  /* position: relative; */
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.2s;
}

.place1:hover {
  transform: scale(1.04);
}

.place1 .bottom {
  position: relative;
  height: 85px;
  bottom: -170px;
  border-radius: 0px 0px 15px 15px;
  padding: 10px 20px 16px;
  box-shadow: 0px 0px 1px 0.1px rgba(0, 0, 0, 0.2);
}

.place1 h3 {
  color: white;
  font-size: 18px;
  font-weight: 900;
}

.place1 p {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.popular-text {
  margin: 0px, 0px, 40px;
}

.card {
  display: flex;
}

.popular-cards {
  display: flex;
  /* padding: 0px auto; */
  /* grid-template-columns: auto auto; */
  gap: 10rem;
}
/* starting of media queries */
@media (max-width: 1100px) {
  .navbar {
    max-width: 850px;
  }
  .container2 {
    max-width: 1000px;
  }
  .container2 .book1 {
    width: 32%;
  }
  .container3 {
    max-width: 800px;
    margin: 0px auto;
  }
  .place1 {
    width: 32%;
  }
  #profile-card2 {
    margin-left: -8rem;
  }
  .book-logo {
    position: relative;
    left: 1rem;
  }
  .ctry-lang-container {
    position: relative;
    right: 10rem;
  }
}
@media (max-width: 1050px) {
  .container2 .book1 {
    width: 40%;
  }
  .container3 {
    max-width: 800px;
    margin-left: 6rem;
  }
  .place1 {
    width: 25%;
  }
  .bg3 {
    margin-left: -6rem;
  }
  .bg4 {
    margin-left: -6rem;
  }
  /* .popular-cards {
    width: 500px;
    height: ;
    margin-left: 5rem;
  } */
}
@media (max-width: 991px) {
  .app {
    position: relative;
    left: 10px;
  }
  #nav1 {
    display: none;
  }
  /* .authorsort {
    display: block;
  } */
  /* .aboutauthor {
    gap: 10rem;
  } */
  .authorsort {
    gap: 5rem;
  }
  .aboutauthorimg {
    margin-left: 5rem;
  }
  .collections {
    margin-left: -6rem;
  }
  .leftpara {
    margin-left: -6rem;
  }
  .container2 {
    max-width: 700px;
    /* height: 650px; */
    /* margin-left: 10rem; */
  }
  .book1 {
    width: 40%;
  }
  .container3 {
    max-width: 800px;
    margin-left: 2rem;
  }
  .place1 {
    width: 28%;
  }
  .popular-text .heading2 {
    margin-left: -13rem;
  }
  .popular-cards {
    display: block;
  }
  #profile-card1 {
    width: 800px;
    margin-bottom: 1rem;
  }
  #profile-card2 {
    width: 800px;
    margin-left: 0.5rem;
  }
  .ctry-lang-container {
    position: relative;
    right: 18rem;
  }
  .footer-mid {
    max-width: 800px;
    gap: 2rem;
  }
  .last-main-content {
    width: 12%;
  }
}
/* @media (max-width: 624px) {
  .discover .main {
    /* font-size: 1.8rem; */
/* height: 80px;
  } */
@media (max-width: 850px) {
  .form .left {
    width: 250px;
  }
  .forminput {
    width: 300px;
  }
  .forminput::placeholder {
    font-size: 1rem;
  }
  .aboutauthor p {
    margin-right: 5rem;
  }
  .aboutauthor h6 {
    margin-right: 5rem;
  }
  .container2 {
    max-width: 600px;
    margin-right: 20rem;
  }
  .collections {
    margin-left: -18rem;
  }
  .leftpara {
    margin-left: -18rem;
  }
  .container3 {
    max-width: 800px;
    margin-left: -2rem;
  }
  .place1 {
    width: 25%;
  }
  .bg3 {
    margin-left: -6rem;
  }
  .bg4 {
    margin-left: -6rem;
  }
  .popular-text .heading2 {
    margin-left: -19rem;
  }
  #profile-card1 {
    width: 680px;
    margin-left: 1rem;
  }
  #profile-card2 {
    width: 680px;
    margin-left: 1rem;
  }
  .ctry-lang-container {
    position: relative;
    right: 27rem;
  }
}
@media (max-width: 740px) {
  .form .left {
    width: 200px;
  }
  .forminput {
    width: 200px;
  }
  .forminput::placeholder {
    font-size: 1rem;
  }
  .aboutauthor p {
    margin-right: 15rem;
  }
  .aboutauthor h6 {
    margin-right: 15rem;
  }
  .container2 {
    max-width: 600px;
    margin-right: 25rem;
  }
  .collections {
    margin-left: -29rem;
  }
  .leftpara {
    max-width: 600px;
    margin-left: -1rem;
  }
  .container3 {
    max-width: 800px;
    margin-left: -7.5rem;
  }
  .place1 {
    width: 21%;
  }
  .bg3 {
    margin-left: -13rem;
  }
  .bg4 {
    margin-left: -13rem;
  }
  .popular-text .heading2 {
    margin-left: -31rem;
  }
  #profile-card1 {
    width: 550px;
    margin-left: 1rem;
  }
  #profile-card2 {
    width: 550px;
    margin-left: 1rem;
  }
  .ctry-lang-container {
    position: relative;
    right: 35rem;
  }
}
@media (max-width: 600px) {
  .aboutauthor p {
    margin-right: 25rem;
  }
  .aboutauthor h6 {
    margin-right: 25rem;
  }
  .container2 {
    max-width: 600px;
    margin-right: 30rem;
  }
  .collections {
    margin-left: -35rem;
  }
  .leftpara {
    max-width: 400px;
    margin-left: 2rem;
  }
  .container3 {
    max-width: 800px;
    margin-left: -9rem;
  }
  .place1 {
    width: 20%;
  }
  .bg3 {
    margin-left: -19rem;
  }
  .bg4 {
    margin-left: -19rem;
  }
  .popular-text .heading2 {
    max-width: 400px;
    margin-left: 4rem;
  }
  #profile-card1 {
    width: 450px;
    margin-left: 2rem;
  }
  #profile-card2 {
    width: 450px;
    margin-left: 2rem;
  }
  .ctry-lang-container {
    position: relative;
    right: 40rem;
  }
}
@media (max-width: 530px) {
  .container2 {
    margin-left: -1rem;
  }
  .container2 .book1 {
    width: 80%;
  }
  .collections {
    margin-left: -40rem;
  }
  .leftpara {
    max-width: 400px;
    margin-left: -1rem;
  }
  .container3 {
    max-width: 800px;
    margin-left: -10rem;
  }
  .place1 {
    width: 18%;
  }
  .bg3 {
    margin-left: -19rem;
  }
  .bg4 {
    margin-left: -19rem;
  }
  #profile-card1 {
    width: 450px;
    margin-left: 1rem;
  }
  #profile-card2 {
    width: 450px;
    margin-left: 1rem;
  }
}
@media (max-width: 420px) {
  .container1 {
    height: 600px;
  }
  .logoimg {
    height: 80px;
  }
  .form .left {
    width: 150px;
  }
  .forminput {
    width: 150px;
  }
  .forminput::placeholder {
    font-size: 1rem;
  }
  .discover.main {
    height: 80px;
  }
}
